
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');



    div{
        text-align: center;
    }
    
    .wrapper-signup {
        width:100%;
        flex:1;

    }

    h6{
        font-weight: 200;
    }
    .wrapper-signin {
        background: radial-gradient(circle at 10% 20%, rgb(228, 118, 0) 0%, rgb(247, 189, 2) 90%);
        width:100%;
        flex:1;

        -webkit-border-radius: 3px;
    }
    body{
        background-color: #3F0071;
        font-family: 'Outfit', sans-serif;
        font-weight: bold;
        color: #FFFFFF;
    }
    .wrapper-signin button{
        background-color: transparent;
        border-radius: 50%;
        border-width: 1.5px;
        height: 45px;
        width: 45px;
    }
    button img {
        /* height:30px; */

        width: 35px;
    }
    .wrapper-signin>h2 {
        color:#150050;
    }   
    .wrapper{
        display:flex;
        border-radius: 6px;
        border-width: 3px;
        border-style: solid;
        border-color: aliceblue;
        box-shadow: 10px white; 
        margin-left: 150px;
        margin-right: 150px;
        margin-top:150px;
    }
    #up{
        width: 100px;
        height: 25px;
        border-radius: 6px;
        border-width: 1.5px;
        border-style: solid;
        border-color: #150050;
        text-align: center;
    }
    #in{
        width: 100px;
        height: 25px;
        border-radius: 6px;
        border-width: 1.75px;
        border-style: solid;
        border-color:#3F0071;
        text-align: center;
        background-color: bisque;
    }

    button {

        color: #020000;
        font-family: 'Outfit', sans-serif;
        /* display: inline; */
    }

    