
    div{
        text-align: center;
    }
    
    .wrapper-signup {
        background-color: w;
        width:100%;
        flex:1;

    }
    .wrapper-signin {
        background-color: white;
        width:100%;
        flex:1;
    }
    body{

        background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
        color: white;
    }

    .wrapper{
        display:flex;
        border-radius: 2px;
        border-width: 2px;
        border-style: solid;
        border-color: aliceblue;
        box-shadow: 2px white;
        align-content: center;
    }
